# Node modules
node_modules/
**/node_modules/

# Build outputs
dist/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env
.env.local
.env.*.local

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage reports
coverage/

# IDE folders
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# React specific
*.log
*.cache
*.bak



# Optional: Ignore uploads or file-based databases
uploads/
data/

# MongoDB dump
dump/

# Mac folder info
*.DS_Store
